<div class="col-md-2 sidebar">

    <div class="logo">

        <h3 class="fw-bold">
            <i class="bi bi-mortarboard-fill"></i>
            IELTS Mock
        </h3>

    </div>

    <hr>

    <ul class="nav flex-column mt-4">

        <li class="nav-item">
            <a href="{% url 'student_dashboard' %}" class="nav-link active">
                <i class="bi bi-house-door"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'exam_list' %}" class="nav-link">
                <i class="bi bi-clipboard-check"></i>
                Mock Tests
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'exam_list' %}" class="nav-link">
                <i class="bi bi-book"></i>
                Reading
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'exam_list' %}" class="nav-link">
                <i class="bi bi-headphones"></i>
                Listening
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'exam_list' %}" class="nav-link">
                <i class="bi bi-pencil-square"></i>
                Writing
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'exam_list' %}" class="nav-link">
                <i class="bi bi-mic"></i>
                Speaking
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'student_dashboard' %}" class="nav-link">
                <i class="bi bi-graph-up"></i>
                Progress
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'student_dashboard' %}" class="nav-link">
                <i class="bi bi-gear"></i>
                Settings
            </a>
        </li>

    </ul>

</div>
